@font-face {
  font-family: "Inter-Light";
  font-weight: 300;
  font-style: normal;
  src: local("Inter-Light"),
    url("../fonts/Inter-Light.woff2") format("font-woff2"),
    url("../fonts/Inter-Light.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"),
    url("../fonts/Inter-Regular.woff2") format("font-woff2"),
    url("../fonts/Inter-Regular.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Inter-Medium"),
    url("../fonts/Inter-Medium.woff2") format("font-woff2"),
    url("../fonts/Inter-Medium.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Inter-SemiBold"),
    url("../fonts/Inter-SemiBold.woff2") format("font-woff2"),
    url("../fonts/Inter-SemiBold.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Inter-Bold"),
    url("../fonts/Inter-Bold.woff2") format("font-woff2"),
    url("../fonts/Inter-Bold.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Oxygen-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Oxygen-Bold"),
    url("../fonts/Oxygen-Bold.woff2") format("font-woff2"),
    url("../fonts/Oxygen-Bold.woff") format("font-woff");
  font-display: swap;
}
